<div class="container">
  <div class="page-header">
    <h1>Listings</h1>
  </div>

  
  <%= render partial: "advanced_search", locals: {agents: @agents} %>

  <div class="row">
    <%= render partial: "listing_block", locals: {listings: @listings} %>
  </div>
</div>



