<% title "Search" %>
<% description "Landmhel Listings Search" %>
<% keywords "landmhel, house, listings, search" %>

<div class="container">
  <div class="page-header">
    <h1>Search Results</h1>
  </div>
  

  <div class="row">
    <%= render partial: "listings/listing_block", locals: {listings: @listings} %>
  </div>
</div>