  <% if flash[:success] %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Thank you!</strong> The form has been submitted, we'll get back to you as soon as possible.
    </div>
  <% end %>

<div class="well">

  <% listings ||= nil ; selected_listing ||= nil %>
  <form method="POST" action="/contact" class="form-horizontal">
    <fieldset>
      <input type="hidden" id="agent_id" name="agent_id" value="" />
      
      <div class="form-group">
        <label for="name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="phone" class="col-lg-2 control-label">Phone</label>
        <div class="col-lg-10">
          <input type="phone" class="form-control" name="phone" placeholder="Phone">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Send Email Updates
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment" class="col-lg-2 control-label">Comments</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" name="comment" placeholder="Comments"></textarea>
          <span class="help-block"></span>
        </div>
      </div>
      <% if listings %>
        <div class="form-group">
          <label for="listing_idt" class="col-lg-2 control-label">Property</label>
          <div class="col-lg-10">
            <select class="form-control" name="listing_id">
              <% listings.each do |listing| %>
                <option value="<%= listing.id %>"><%= listing.address %></option>
              <% end %>
            </select>
            <br>
          </div>
        </div>

       <% elsif selected_listing %>
        <div class="form-group">
          <label for="listing_id" class="col-lg-2 control-label">Property</label>
          <div class="col-lg-10">
            <select class="form-control" name="listing_id" disabled>
              <option value="<%= selected_listing.id %>"><%= selected_listing.address %></option>
            </select>
            <br>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-primary" data-dismiss="modal">Reset</button> 
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button> 
          <button type="submit" class="btn btn-success">Submit</button> 
        </div>
      </div>
    </fieldset>
  </form>
</div>