<% title "About The Company"%>
<% description "LANDMHEL REAL ESTATE SERVICES INC. was founded in January 2013 by Imelda Elago in Winnipeg, Canada. Landmhel Real estate services is dedicated to serve clients with their real estate needs, residential or commercial portfolios. We develop a team of experts in the industry that strongly believe in service to people." %>
<% keywords "about, history, experts, service, north, west"%>

<div class="container jumbotron">
  <div class="page-header">
    <h1>About the Company</h1>
  </div>

  <div class="col-md-7">
    <div class="">
      <p class="lead"><span class="brand-color">Landmhel Real Estate Inc.</span> was founded in January 2013 by <span class="brand-color">Imelda Elago</span> in Winnipeg, Canada.</p>

      <p class="lead"><span class="brand-color">Landmhel Real Estate Inc.</span> is dedicated to serve clients with their real estate needs, residential or commercial portfolios. We develop a team of experts in the industry that strongly believe in service to people.</p>

      <p class="lead">Landmhel stays up to date with the latest trends in real estate and technology, in pursuit of providing service with constant and never ending improvement.</p>

      <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#contact-modal">Contact Us</a>
    </div>
  </div>
  <div class="col-md-5">
    <div id="landmhel-location-map-canvas"></div>
    <ul class="list-group listing-details">
      <li class="list-group-item lead brand-color">Landmhel Real Estate Inc.</li>
      <li class="list-group-item"><b>Address:</b> 1169 Huron Ave. Winnipeg, MB R2X1J7</li>
      <li class="list-group-item"><b>Phone:</b> <%= number_to_phone("2049554654", country_code: 1) %></li>
    </ul>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'contact_form' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  var lat_lang = new google.maps.LatLng(49.937722,-97.16728)

  function initialize() {
    var map_canvas = document.getElementById('landmhel-location-map-canvas');
    var map_options = {
      center: lat_lang,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(map_canvas, map_options)

    var marker = new google.maps.Marker({
        position: lat_lang,
        map: map,
        title: 'Hello World!'
    });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>