<% title "About The Company"%>

<div class="container">
  <div class="page-header">
    <h1>About the Company</h1>
  </div>
      <p class="lead">LANDMHEL REAL ESTATE SERVICES INC. was founded in January 2013 by Imelda Elago in Winnipeg, Canada. Landmhel Real estate services is dedicated to serve clients with their real estate needs, residential or commercial portfolios. We develop a team of experts in the industry that strongly believe in service to people.</p>  

        <p class="lead">Landmhel stays up to date with the latest trends in real estate and technology, in pursuit of providing service with constant and never ending improvement.</p>

      <p class="lead">LANDMHEL is located at the North West part of the city of Winnipeg.</p>


      <p class="lead">Landmhel Real Estate</p>
      <p class="lead">1169 Huron Ave. Winnipeg, MB R2X1J7</p>

      <a class="btn btn-default" data-toggle="modal" data-target="#contact-modal">Contact Us &raquo;</a>

      <br /><br />
      
</div>


<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'contact_form' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->