<div class="carousel-container">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item">
        <img src="/assets/winnipeg_provencher_bridge.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Landmhel Realestate.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-default" href="#">SUBSCRIBE NOW</a>
          </div>
        </div>
      </div>
      <div class="item active left">
        <img src="/assets/winnipeg_provencher_bridge_1.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Expand Your Career.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-default" href="#">JOIN US</a>
          </div>
        </div>
      </div>
      <div class="item next left">
        <img src="/assets/winnipeg_provencher_bridge_2.jpg" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1>Free Moving Service.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-default" href="#">SHOP</a>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div>
</div>

<div class="container">

  <div class="jumbotron">
    <h1>Our Services</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, lorem vel molestie aliquam, ligula dolor ultrices nisi, sed sollicitudin eros turpis at velit. Sed elementum pulvinar elit, ut congue lorem scelerisque vitae. Donec faucibus lobortis felis eu rutrum. </p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>

  <div class="page-header featured-listings">
    <h1>Listings</h1>
  </div>
  <div class="row">
    <%= render partial: "listings/listing_block", locals: {listings: @featured_listings} %>
  </div>
</div>