<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <img src="/assets/img1.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-large btn-default" href="#">Sign up today</a>
        </div>
      </div>
    </div>
    <div class="item active left">
      <img src="/assets/img2.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-large btn-default" href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="item next left">
      <img src="/assets/img3.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-large btn-default" href="#">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

<div class="container">

  <div class="jumbotron">
    <h1>Our Services</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, lorem vel molestie aliquam, ligula dolor ultrices nisi, sed sollicitudin eros turpis at velit. Sed elementum pulvinar elit, ut congue lorem scelerisque vitae. Donec faucibus lobortis felis eu rutrum. </p>
    <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
  </div>

  <div class="page-header featured-listings">
        <h1>Listings</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img class="img" style="width: 140px; height: 140px;"/>
          <h2>House</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet, lorem vel molestie aliquam, ligula dolor ultrices nisi, sed sollicitudin eros turpis at velit. Sed elementum pulvinar elit, ut congue lorem scelerisque vitae. Donec faucibus lobortis felis eu rutrum. Aliquam vitae suscipit magna, et tincidunt purus. Ut congue venenatis consectetur. Pellentesque consequat diam vitae nulla volutpat, pellentesque porttitor nunc pellentesque.</p>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <img class="img" style="width: 140px; height: 140px;"/>
          <h2>House</h2>
          <p>Sed metus risus, mollis luctus adipiscing non, condimentum tempus metus. Pellentesque et volutpat odio, vel mollis risus. Nulla semper ac odio id convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam imperdiet velit in adipiscing imperdiet. Aenean interdum accumsan quam sed tincidunt. In ullamcorper luctus dolor, at lacinia felis lobortis sed. Suspendisse tincidunt ante sed ante faucibus, vitae sagittis sapien mollis. Suspendisse nunc nisl, aliquam ut leo et, tincidunt commodo lectus. </p>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <img class="img" style="width: 140px; height: 140px;"/>
          <h2>House</h2>
          <p>Aliquam tempor nulla sed lectus auctor malesuada. Nulla erat metus, ornare vel tincidunt nec, porta eget nisi. Praesent porta scelerisque velit sagittis congue. Aenean bibendum urna risus. Aenean porttitor nisi tempor purus tempus adipiscing. In sed turpis sit amet nisi sollicitudin aliquam.</p>
        </div><!-- /.col-sm-4 -->
      </div>

</div>