<% title "Our Services"%>
<% description "In pursuit to Excellent Service to clients, LRES is committed to provide trainings and workshops to all salespersons that would help them be competitive in the industry. Give them environment to grow personally and professionally. This company aims to have a great team of high respected professionals in the market place." %>
<% keywords "excellent, service, clients, trainings, workshops, sales, professionals, services, first time buyer orientation, move for free, comparative market analysis, traning and workshops"%>

<div class="container">
  <div class="page-header">
    <h1>Our Services</h1>
  </div>
      <p class="lead">In pursuit to Excellent Service to clients, LRES is committed to provide trainings and workshops to all salespersons that would help them be competitive in the industry. Give them environment to grow personally and professionally. This company aims to have a great team of high respected professionals in the market place.</p>

      <h2>Services We Provide:</h2>
      <ul class="services-details">
        <li>
           <h3>First Time Buyer Orientation:</h3>
      <p class="lead">Landmhel is committed to provide valuable information to first time home buyers. What do buyers need to know? What are the options? How do buyers go into the process of buying? </p>
        </li>
        <li><h3>Moving:</h3>
      <p class="lead">Landmhel will provide cargo truck trailer to assist client in moving.</p></li>
        <li><h3>Comparative Market Analysis:</h3>
      <p class="lead">In today's market, seller should be aware of how much their home is worth.  Only professionals, experts in the field of real estate know about this.  You can rely on LANDMHEL for this information.</p></li>
        <li> <h3>Orientation for Investors:</h3>
      <p class="lead"></p></li>
        <li><h3>Training and Workshops to Agents:</h3>
      <p class="lead"></p></li>
      </ul>

      <a class="btn btn-lg btn-primary" data-toggle="modal" data-target="#contact-modal">Contact Us &raquo;</a>

      <br/>
      <br/>
</div>

<!-- Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'contact_form' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->