/* Flatly
 * Bootswatch
 *= require_self
 *= require flatly/loader
 *= require flatly/bootswatch
 *= require font-awesome
 *= require camera
 *= require search
 *= require listings
 *= require home
*/
/* Misc */

body, html { height:100%; }
body{ padding-top:60px; }
i { margin-right: 10px; }
.brand-color { color: #bd99b6 }
.btn { white-space: normal !important;}