/* Nav Bar*/

.navbar-default .navbar-brand {
  background: url(landmhel_logo.png);
  background-size: 40px;
  background-repeat: no-repeat;
  padding-left: 60px;
  background-position: 10px;
}

/* Carousel */

.carousel-inner > .item > img { 
  width: 100%;
  max-height: 92.5vh;
  min-height: 400px;
  min-width: 800px;
}

.carousel-caption { bottom: 30% !important;}
.carousel-header { font-size: 3.5em; }
@media (max-width: 768px) {
 .carousel-header { font-size: 2.5em; }
 .carousel-caption { bottom: 20% !important;}
}

/* Agent */

.row.agent { padding: 15px 0 15px 0; }
.agent-picture { text-align: center; }
@media (min-width: 767px) {
 .agent-description > h1 {margin-top: 0px !important;}
}

.agent-details, .services-details  { list-style-type: none; }

.agent-picture > img, .agent-picture > a {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

/* Contact */

.contact-add-padding{ padding: 0 15px }
.email { clear: both }
/* Modal */

.modal .well { margin-bottom: 0px !important;}

/* Footer */

.footer-column { margin-bottom: 5px; }
.footer ul { list-style-type:none; }

.footer{
  background-color: #1a1a1a;
  padding: 50px 20px 20px 20px;
}

.footer > .container ul > li > a{
  color: #DDD;
  font-size: 14px;
  line-height: 180%;
  font-weight: 90;
}

.footer-column-title {
  color: #FFF;
  padding-bottom: 2px;
  margin-bottom: 3px;
  border-bottom: 1px solid #333;
}
