@media (min-width: 767px) {
  .home-search {
    width: 250px !important;
  }
}

.swiftype-widget .autocomplete li .sections {
  display: none;
}

.swiftype-widget .autocomplete li p, .swiftype-widget .autocomplete li p em {
  font-weight: normal !important;
}

.swiftype-widget .autocomplete ul {
  border-radius: 0 !important;
  background: #FFF;
  margin: 0; 
  padding: 0;
  border: 0px solid #EBEBEB;
}

/* Change color of search result text */
.swiftype-widget .autocomplete ul li p.title {
  color: #000;
  text-shadow: none !important;
}

/* Change background color of selected search result */
.swiftype-widget .autocomplete ul li.active {
  background: none;
  background-color: #BD99B6;
  border-top: 1px solid #BD99B6;
  border-bottom: 1px solid #BD99B6;
  -webkit-box-shadow: 0 0 0 0;
}

.swiftype-widget .autocomplete li {
  border-radius: 0 !important;
}

/* change the color of the section text (displayed below the title) */
.swiftype-widget .autocomplete ul li.active .sections em {
  color: white;
  border-radius: 0px;
}

.st-result-listing h3 a {
  font-size: 20px;
}

.st-result-text {
  padding: 5px 5px;
}

.st-search-summary {
  border-bottom: 0 !important;
}

.st-search-summary h2 {
  padding-top: 20px;
  font-size: 2.5em !important;
}

.st-result {
  border-bottom: 1px solid #ecf0f1 !important;
}

.st-pagination {
  border-top: none !important;
  padding-bottom: 10px;
}